
Podujatie_Admin/Podujatie/settings.py
Podujatie_Client/Festival/build
Podujatie_Client/Festival/app/build
Podujatie_Client/Festival/backend/build

Podujatie_Client/Festival/.idea/gradle.xml

Podujatie_Client/Festival/.idea/gradle.xml

Podujatie_Client/Festival/.idea/misc.xml

Podujatie_Client/Festival/.idea/modules.xml

Podujatie_Client/Festival/.idea/runConfigurations.xml
